---
layout: base.html
pagination:
  data: adriatic
  size: 1
  alias: area
  addAllPagesToCollections: true
permalink: "/{{ area }}/index.html"
area: {{ area }}
title: Napoved za navtike DHMZ
---

{% for fc in adriatic[area] %}
    <div id="forecast-{{ area }}-{{ fc[0] }}" class="forecast hidden">
        <div class="relative">
            {% for image in adriatic[area][fc[0]].images %}
                <img src="{{ image }}" class="forecast-image hidden w-full h-auto">
            {% endfor %}
            <button id="prevButton-{{ area }}-{{ fc[0] }}" class="forecast-button left-0 absolute inset-y-0 w-1/5 h-full bg-transparent flex items-center justify-start" aria-label="Previous"><img src="/assets/arrow-left.svg" alt="Previous" class="w-10 lg:w-20"></button>
            <button id="nextButton-{{ area }}-{{ fc[0] }}" class="forecast-button right-0 absolute inset-y-0 w-1/5 h-full bg-transparent flex items-center justify-end" aria-label="Next"><img src="/assets/arrow-right.svg" alt="Next" class="w-10 lg:w-20"></button>
        </div>
        <div class="container mx-auto px-4">
            <div class="flex flex-col md:flex-row justify-between items-center text-secondary">
                <div>
                    <span id="timezoneDifference"></span>
                </div>
                <p>
                    Vir napovedi: <a href="{{ adriatic[area][fc[0]].source }}" target="_blank" rel="noopener noreferrer" class="no-underline border-b-2 border-link hover:bg-link-hover">meteo.hr</a>
                </p>
            </div>
        </div>
    </div>
{% endfor %}
